.close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 10px 20px;
    position:absolute;
    top:-21px;
    right:-35px;
    outline: none;
    background: url(../images/close.svg) no-repeat;
    background-size:30px 30px;
    border:none;
}
.close {
    transition: cubic-bezier(0.175, 0.885, 0.52, 1.575) 200ms;
}
.close:hover {
    outline: none;
    transform: scale(1.2);
    transform: scale(1.1) rotate(45deg);
}
.bubble-container .close{
	top:0;
	right:0;
	width:15px;
	height:15px;
	background-size: 15px 15px;
	margin:-1px;
}