*{
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    color: #505050;
}
html,
body,
.wrapper{
	height:100%;
}
.main-data{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: flex-end;
	height:calc(100% - 100px);
}
svg{
	cursor: pointer;
}
