*{
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    color: #505050;
}
html,
body,
.wrapper{
	height:100%;
}
body{
	background: #E3DFD7;
}
.main-data{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: flex-end;
	height:calc(100% - 100px);
}
svg{
	cursor: pointer;
}
.footer{
	position: absolute;
	bottom: 0;
	width: calc(100% + 30px);
	background: #EF6555;
	margin-left: -15px;
	margin-bottom: -16px;
	height:30px;
}
.cat{
	background: url(../images/cat.png) no-repeat;
	position: absolute;
	bottom: -16px;
	left:10px;
	width:60px;
	height:62px;
	background-size: 60px 62px;
	z-index: 1;
}
.legend{
	position: absolute;
	right:50px;
	top:50px;
	width:150px;
	height:200px;
	overflow: hidden;
}
.legend-website div{
	width:30px;
	height: 30px;
	border-radius: 3px;
	float:left;
}
.legend-website p{
	margin-left: 40px;
}
.legend-good-website{
	background: #418486;
}
.legend-bad-website{
	background: #9A3334;
}
.general-charts{
	position: absolute;
	width: 60px;
    height: 56px;
    top: 9px;
    left: 76px;
    background: url(../images/graphs-light.svg) 10px 16px no-repeat #E9E9E9;
    background-size: 40px 23px;
	box-shadow: 0 1px 1px 0 #C7C7C7 inset;
	cursor: pointer;
}
.bubble-container{
	position: absolute;
	bottom:20px;
	left:93px;
	display:none;
	cursor: pointer;
}
.bubble {
	background: #fff;
    position: relative;
    padding: 2px 10px;
    border-radius: 10px;
}
.bubble:after {
    top: 4px;
    left: -23px;
    bottom: auto;
    border-width: 10px 50px 10px 0;
    border-color: transparent #fff;
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    z-index: -1;
}