#chartarea{
	height: 500px;
	width: 800px;
	position:relative;
}
.hover{
	paint-order: stroke;
	stroke-width: 2;
	stroke: #505050;
	stroke-linejoin="round"
}
.normal{
	paint-order: normal;
}
.info{
	position:absolute;
	top:0;
	box-shadow: 0 1px 1px 0 #C7C7C7 inset;
	background: none repeat scroll 0 0 #E9E9E9;
	padding:10px;
}
svg {
  font: 10px sans-serif;
}

path.line {
  fill: none;
  stroke: #666; 
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line,
.y.axis path {
  fill: none;
  stroke: #000;
}
