.websites{
	width:570px;
	position: absolute;
	top:100px;
	display:none;
	min-height: 400px;
	overflow-y: scroll;
	transform: translateX(-100%);
	background: #EFEFEF;
	padding: 20px;
	z-index: 3;
}
.websites.active{
	display: block;
}
.slide-in {
    animation: slide-in 0.5s forwards;
    left:auto;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

.website{
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  display: inline-block;
  float:left;
  width:250px;
  margin-right:15px;
}
.item{
	overflow: hidden;
}
.item:not(:nth-child(1)){
	margin-top: 15px;
}
.website:focus{
  border-bottom: solid 2px #969696;
  outline: none;
}
.remove-item{
	background: url(../images/remove.svg);
	width: 48px; 
	height:48px;
	display: inline-block;
	float:right;
	background-size: 48px 48px;
	cursor: pointer;
}
.website-1 .remove-item{
	display:none;
}
.add-item{
	background: url(../images/add.svg);
	width: 48px;
	height:48px;
	display: block;
	float:right;
	background-size: 48px 48px;
	cursor: pointer;
	margin-top: 25px;
}