.switch {
    position: relative;
	float:left;
    width: 200px;
    padding: 12px 0;
    cursor: pointer;
    background-color: #D1E7E8;
    border-radius: 3px;
}
.switch::after {
    clear: both;
    content: "";
    display: table;
}
.switch *,
.switch *:before,
.switch *:after {
    box-sizing: border-box;
}
.switch a {
    display: block;
    transition: all 0.2s ease-out;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    background-color: #F4F4F4;
}
.switch label {
    vertical-align: middle;
    cursor: pointer;
    color: #418486;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}
.switch input {
    position: absolute;
    left: 0;
    opacity: 0;
	cursor: pointer;
}
.switch input + label {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    padding: 0 0.5em;
    margin: 0;
    text-align: center;
}
.switch a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    width: 10px; 
    height: 100%;
}
.switch label,
.switch a {
    width: 33.33%;
}
.switch input:checked:nth-child(3) ~ a {
    left: 33.33%;
}
.switch input:checked:nth-child(5) ~ a {
    left: 66.66%;
}

.switch input:checked + label {
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
